{% extends "base.html.twig" %}

{% block page_navigation %}
    <li class="nav-item">
        <a class="btn btn-outline-secondary" href="{{ path('app_recettes_liste_get') }}">
            {{ ux_icon('flowbite:arrow-left-outline') }} Retour à la liste
        </a>
    </li>
{% endblock page_navigation %}

{% block page_title %}Création de recette{% endblock page_title %}

{% block body %}
    {{ form(form) }}
{% endblock body %}
