{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <header>
            <h2>Exemple avec TwigComponent + Stimulus</h2>
        </header>
        {{ component('greet', {
            name: 'Magali'
        }) }}
    </section>

    <section class="mt-4">
        <header>
            <h2>Exemple avec LiveComponent</h2>
        </header>
        {{ component('bonjour', {
            name: 'Magali'
        }) }}
    </section>
{% endblock body %}
